<!-- Se genera el documento HTML-->
<!DOCTYPE html>
<!-- Indicamos el idioma del la página Web-->
<html lang="es">

<head>
    <!-- Se genera el head de la página web-->
    <META http-equiv=Content-Type content="text/html; UTF-8">
    <!-- Indicamos el estilo de la página web-->
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <link rel="stylesheet" type="text/css" href="./include/libs/leaflet/leaflet.css" />
    <!-- Indicamos el título de la página web-->
    <title>Tarea 7 DWES cabecerainvitado.html</title>
    <!-- Se cierra el head de la página web-->
</head>
<!-- Se genera el body de la página web-->

<body>
    <h1>Aplicación WEB Morosos</h1>
    <!-- Generamos la capa "navCabecera"-->
    <div id="navCabecera">
        <!-- Generamos la capa "invitado"-->
        <div id="invitado">
            <form action="login.php" method="post" class="inicio">
                <input type="submit" id="botonCrearAnuncioInvitado" name='botonCrearAnuncioInvitado'
                    value="Nuevo anuncio" class="botonCabecera">
                <!-- Se cierra el formulario-->
            </form>
            {if {$login} == "Invitado"}
            <form action="login.php" method="post" class="inicio">
                <input id="botonLogin" type="submit" name='botonLogin' value="Login" class="botonCabecera">

            </form>
            {/if}

        </div>
        <!-- Se cierra la capa-->
    </div>
    <!-- Se cierra la capa-->
    <!-- Generamos la capa "datosSesion"-->
    <div id='datosSesion'>
        <span id="textoLogin" class="login">{$login}</span><span class="login"> {$hora}</span>

        <!-- Se cierra la capa-->
    </div>
    <!-- Generamos la capa "capaLogin"-->

    <div id='capaLogin'></div>
    <!-- Generamos la capa "formularioCrearAnuncio"-->
    <div id="formularioCrearAnuncio" class="oculto"></div>
    <!-- Generamos la capa "capaAnuncios"-->
    <div id='capaAnuncios'>
    </div>