<!--Generamos la capa "piedepagina". -->
<div id="piedepagina">
    <!--Mostramos el pie de página.-->
    <p>
        <h3>tarea 7 dwec</h3>
    </p>
    <!--Cerramos la capa "piedepagina" -->
</div>

 <!-- Se cargan los script-->
 <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyAWnnnTQb-zAgy46lJKtoo-1xwU4ZZVhws"></script>

 <script src="./include/libs/leaflet/leaflet.js"></script>
 <script src="./include/libs/jquery-3.5.0.js"></script>
 <script src="./funciones.js"></script>
 <!--Cerramos la etiqueta body. -->
 </body>    
 <!--Cerramos la etiqueta html.-->
 </html>